# While Loop

In [2]:
i = 0
condition = True
while condition:
    print(i)
    i += 1
    if i == 5:
        condition = False

0
1
2
3
4

# Functions

In [3]:
def double(x):
    y = x * 2
    return y

double(2)

4

In [4]:
def power(x=1,y=2):
    z = x ** y
    return x,y,z

In [5]:
c = power()

In [6]:
c

(1, 2, 1)

In [7]:
c = power(2,2)

In [8]:
c

(2, 2, 4)

In [9]:
val, pwr, resu = power(3,2)

In [10]:
val

3

In [11]:
resu

9

In [12]:
def power(x=1,y=2):
    z = x ** y
    return {x:x,y:y,z:z}

In [13]:
result = power(3,2)

In [14]:
result

{3: 3, 2: 2, 9: 9}

# args and kwargs

In [18]:
def func(*args, **kwargs):
    for item in args:
        print(item)
    for key,value in kwargs.items():
        print(key, value)

In [19]:
func(1,'navin',name='nabin', address='bhaktapur')

1
navin
name nabin
address bhaktapur

In [52]:
def sum(*args, **kwargs):
    s = 0
    for item in args:
        for i in item:
            s += i
    for key,value in kwargs.items():
        s += value
    print(s)

In [25]:
list1=[1,2,3]

In [40]:
sum(list1)

6

In [41]:
list2=[1,2,3,4]

In [53]:
sum(list2)

10

In [54]:
sum(a=1,b=2)

3

In [55]:
sum(list1)

6

In [58]:
def sum(*args, **kwargs):
    s = 0
    for item in args:
        for i in item:
            s += i
    for key,value in kwargs.items():
        s += value
    print(s)
    
list1 = [1,2,3]
list2 = [1,2,3,4,5]

In [59]:
sum(list1)

6

In [60]:
sum(list2)

15

In [61]:
sum(a=1,b=2,c=3)

6