In [12]:
import numpy as np
import pandas as pd

## Handling duplicates

In [8]:
# Create a sample dataset with duplicate values

data = { 'A' : ['foo','bar','foo','baz','bar','qux','foo'],
         'B' : [1,2,3,4,5,6,7],
        'C' : [10,20,30,40,50,60,70]}
df = pd.DataFrame(data)

# Print the original dataframe
print('Original dataframe:')
print(df)

Original dataframe:
     A  B   C
0  foo  1  10
1  bar  2  20
2  foo  3  30
3  baz  4  40
4  bar  5  50
5  qux  6  60
6  foo  7  70

In [4]:
# Drop duplicates
df.drop_duplicates(subset=['A'], inplace=True)
print('\nDataframe after dropping duplicates:')
print(df)

Dataframe after dropping duplicates:
     A  B   C
0  foo  1  10
1  bar  2  20
3  baz  4  40
5  qux  6  60

In [5]:
# Aggregate duplicates
agg_df = df.groupby(['A']).mean()
print('\nDataframe after aggregating duplicates:')
print(agg_df)

Dataframe after aggregating duplicates:
       B     C
A
bar  2.0  20.0
baz  4.0  40.0
foo  1.0  10.0
qux  6.0  60.0

In [6]:
# Keep the first occurence
first_df = df.drop_duplicates(subset=['A'],keep='first')
print('\nDataframe after keeping the first occurence:')
print(first_df)

Dataframe after keeping the first occurence:
     A  B   C
0  foo  1  10
1  bar  2  20
3  baz  4  40
5  qux  6  60

In [9]:
# keep the last occurence
last_df = df.drop_duplicates(subset=['A'], keep='last')
print('\nDatagrame after keeping the alst occurrence:')
print(last_df)

Datagrame after keeping the alst occurrence:
     A  B   C
3  baz  4  40
4  bar  5  50
5  qux  6  60
6  foo  7  70

In [10]:
# Mark duplicates
df['duplicate'] = df.duplicated(subset=['A'])
print('\nDataframe after marking duplicates:')
print(df)

Dataframe after marking duplicates:
     A  B   C  duplicate
0  foo  1  10      False
1  bar  2  20      False
2  foo  3  30       True
3  baz  4  40      False
4  bar  5  50       True
5  qux  6  60      False
6  foo  7  70       True

In [18]:
# Create a dummy dataset
data = pd.DataFrame({
    'id':[1,2,3,4,5],
    'name': ['John','Jane','Molly','Bob','Alice'],
    'gender': ['M','F','F','M','z'],
    'age': [25, -31, 42, 19, 37],
    'income': [50000, 70000, np.nan, '30000', 60000]
})
print("Dataset before handling incorrect values")
print(data)

Dataset before handling incorrect values
   id   name gender  age income
0   1   John      M   25  50000
1   2   Jane      F  -31  70000
2   3  Molly      F   42    NaN
3   4    Bob      M   19  30000
4   5  Alice      z   37  60000

In [19]:
# Identify incorrect data
incorrect_age = data[(data['age'] <=0) | (data['age'] >100)]
incorrect_gender = data[~data['gender'].isin(['M','F'])]
incorrect_income = data[~data['income'].apply(lambda x: isinstance(x, (int, float)))]

#delete incorrect data
print(data)
data = data.drop(incorrect_age.index)
print("After dropping with age condition:", data)
data = data.drop(incorrect_gender.index)
print("After dropping with gender condition:", data)
data = data.drop(incorrect_income.index)
print("After dropping with income condition:", data)

#display the cleaned dataset
print('\nDataset after handling incorrect values')
print(data)

   id   name gender  age income
0   1   John      M   25  50000
1   2   Jane      F  -31  70000
2   3  Molly      F   42    NaN
3   4    Bob      M   19  30000
4   5  Alice      z   37  60000
After dropping with age condition:    id   name gender  age income
0   1   John      M   25  50000
2   3  Molly      F   42    NaN
3   4    Bob      M   19  30000
4   5  Alice      z   37  60000
After dropping with gender condition:    id   name gender  age income
0   1   John      M   25  50000
2   3  Molly      F   42    NaN
3   4    Bob      M   19  30000
After dropping with income condition:    id   name gender  age income
0   1   John      M   25  50000
2   3  Molly      F   42    NaN

Dataset after handling incorrect values
   id   name gender  age income
0   1   John      M   25  50000
2   3  Molly      F   42    NaN

## Inconsistencies in data

In [21]:
# Create a dummy dataset
data = pd.DataFrame({
    'id': [1,2,3,4,5],
    'country': ['USA', 'U.S.A','Canada','Mexico','United States'],
    'date': ['2020-01-01','01/02/2021','2021-01-01','2021-01-01','01-01-2021']
})

# define rules for resolving incosistencies
country_codes = {
    'USA' : 'US',
    'U.S.A' : 'US',
    'United States' : 'US',
    'Canada' : 'CA',
    'Mexico' : 'MX'
}
print("Inconsistent Data")
print(data)

def parse_date(date_str):
    if '-' in date_str:
        return date_str
    elif '/' in date_str:
        parts = date_str.split('/')
        return f'{parts[2]}-{parts[0]}-{parts[1]}'
    else:
        parts = date_str.split('-')
        return f'{parts[2]}-{parts[1]}-{parts[0]}'
    
#apply rules to the data
data['country'] = data['country'].apply(lambda x: country_codes.get(x,x))
data['date'] = data['date'].apply(parse_date)

#verify the results
print("\nConsistent Data")
print(data)

Inconsistent Data
   id        country        date
0   1            USA  2020-01-01
1   2          U.S.A  01/02/2021
2   3         Canada  2021-01-01
3   4         Mexico  2021-01-01
4   5  United States  01-01-2021

Consistent Data
   id country        date
0   1      US  2020-01-01
1   2      US  2021-01-02
2   3      CA  2021-01-01
3   4      MX  2021-01-01
4   5      US  01-01-2021

## Assignment: arrange the date in year/month/day format

In [25]:
print("Inconsistent Data")
print(data)

def parse_date(date_str):
    if '-' in date_str:
        parts = date_str.split('-')
        if(len(parts[0])==4):
            return date_str
        else:
            return f'{parts[2]}-{parts[0]}-{parts[1]}'
    elif '/' in date_str:
        parts = date_str.split('/')
        return f'{parts[2]}-{parts[0]}-{parts[1]}'
    else:
        parts = date_str.split('-')
        return f'{parts[2]}-{parts[1]}-{parts[0]}'
    
#apply rules to the data
data['country'] = data['country'].apply(lambda x: country_codes.get(x,x))
data['date'] = data['date'].apply(parse_date)

#verify the results
print("\nConsistent Data")
print(data)

Inconsistent Data
   id country        date
0   1      US  2020-01-01
1   2      US  2021-01-02
2   3      CA  2021-01-01
3   4      MX  2021-01-01
4   5      US  01-01-2021

Consistent Data
   id country        date
0   1      US  2020-01-01
1   2      US  2021-01-02
2   3      CA  2021-01-01
3   4      MX  2021-01-01
4   5      US  2021-01-01